.ly {
  &-contents {
    position: relative;
    z-index: 10;
    padding: 28px 49px;
    background-color: #eef1f6;
    &-head {
      display: inline-block;
      vertical-align: top;

      flex: 1 1 auto;
      + .search-content {
        margin-top: 20px;
      }
      .button.icon {
        &.rotate {
          svg {
            transition: transform .2s ease-out;
            transform: rotate(180deg);
          }
        }
      }
      > .ui {
        &.button {
          &.icon {
            margin: 0 16px 0 8px;
            svg {
              transition: transform .2s ease-out;
            }
          }
        }
      }
      > .field {
        display: inline-block;
        vertical-align: top;
        + .summary-info {
          display: inline-block;
          vertical-align: top;
        }
        fieldset {
          div {
            &.ui.radio {
              display: inline-block;
              + .radio {
                margin-left: 20px;
              }
              label {
                padding-left: 26px;
                font-size: 14px;
              }
            }
          }
        }
      }
      &-rt {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        line-height: 30px;
      }
    }
    &-boxed {
      .flex {
        display: flex;
        margin-bottom: 20px;
        height: 30px;
      }
      .contents-title {
        padding-left: 12px;
      }
      + .ly-contents-boxed {
        margin-top: 48px;
      }
    }
  }
}

.contents-title {
  display: inline-block;
  color: #565656;
  font-weight: bold;
  font-size: 26px;
  + .search-content {
    margin-top: 20px;
  }
}

.contents-wrapper {
  margin-top: 20px;
  padding: 17px 26px;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  background-color: #e6ebf1;
  -webkit-box-shadow: 0 6px 12px 3px rgba(198, 200, 221, .88);
  box-shadow: 0 6px 12px 3px rgba(198, 200, 221, .88);
}


