//header 변수지정

header {
  .ly {
    &-user {
      &-header {
        position: relative;
        top: 0;
        z-index: 10;
        display: flex;
        min-width: 1366px;
        width: 100%;
        height: 52px;
        background-image: linear-gradient(to right, $company-purple-1, #6d61e5, #8366e5, #956be5, $company-purple-2);
        vertical-align: middle;

        align-items: center;

        .logo {
          position: absolute;
          top: 14px;
          left: 34px;
        }
      }
    }
  }
}

.inner {
  height: calc(100% - 52px);
}

.ly {
  &-box {
    position: relative;
    margin-top: -1px;
    padding: 50px 86px 0 86px;
    width: 100%;
    height: 160px;
    background: url(../images/com/header-bg.jpg) no-repeat;
    background-size: cover;
    > h1 {
      color: $company-blue-1;
      letter-spacing: -.005em;
      font-weight: bold;
      font-size: 39px;
    }
    > h3 {
      padding-top: 12px;
      color: $company-blue-1;
      letter-spacing: -.005em;
      font-size: 16px;
    }
  }
}

//글로벌 메뉴
.ly-gnb {
  position: relative;
  width: 100%;
  text-align: center;
  ul {
    padding-top: 2px;
    font-size: 0;
    li {
      display: inline-block;
      margin-left: 64px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: #fff;
        letter-spacing: -.01em;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}



.nav-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: #313bb3;
  transition: all .1s ease-out;
}

//ly-user-timeset

.ly {
  &-user {
    &-timeset {
      position: absolute;
      top: 20px;
      right: 34px;
      font-size: 0;
      svg {
        position: relative;
        top: 8px;
        color: $base-white;
        font-size: 14px;
      }
      p {
        display: inline-block;
        color: $base-white;
        vertical-align: top;
        letter-spacing: -.005em;
        font-weight: 300;
        font-size: 15px;
      }
      h5 {
        &.head-rt {
          display: inline-block;
          margin-left: 74px;
          color: $base-white;
          vertical-align: top;
          font-weight: 300;
          font-size: 15px;
        }
      }
    }
  }
}


