@media all and (max-width:1680px) {
  .ly-gnb ul li {
    margin-left: 3%;
  }
}

@media all and (max-width:1590px) {
  .ly-gnb ul li {
    margin-left: 1%;
  }

  .ly-user-timeset h5.head-rt {
    margin-left: 20px;
  }
}

