.editor-look {
  margin-top: 8px;
  width: 100%;
  .editor-look-group-btn {
    min-height: 30px;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
  }
  .editor-look-group-textArea {
    margin-top: 8px;
    textarea {
      padding: 20px;
      min-height: 250px;
      width: 100%;
      outline: 0;
      border: 1px solid #e3e3e3;
      border-width: 1px;
      border-style: solid;
      font-size: 14px;
      resize: none;
      &::placeholder {
        color: #ccc;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}


