$ly-side-width: 260px;

.ly {
  &-side {
    width: $ly-side-width;
    background-color: $base-white;
    > ul {
      > li {
        display: block;
        margin-top: 26px;
        background-color: $base-white;

        &.active {
          position: relative;
          background-color: #eef1f6;
          -webkit-box-shadow: 0 6px 12px 3px rgba(208, 208, 227, .88);
          box-shadow: 0 6px 12px 3px rgba(208, 208, 227, .88);
          a {
            color: #222;
          }
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: $company-blue-1;
            content: '';
          }
        }

        a {
          display: block;
          overflow: hidden;
          padding: 0 20px 0 40px;
          height: 56px;
          color: #555;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          letter-spacing: -.005em;
          font-weight: bold;
          font-size: 15px;
          line-height: 54px;
        }
      }
    }
  }
}
