#root {
  min-width: 1367px;
  width: 100%;
  height: calc(100vh - 213px);
  iframe {
    &#header {
      min-width: 100%;
    }
  }
}

#popup {
  #root {
    min-width: auto;
    height: 100%;
    .ly-wrapper {
      width: 100%;
    }
  }
}

.ly-wrapper {
  width: calc(100% - 260px);
  height: 100%;
  background-color: #eef1f6;
}

.ly-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.segment {
  padding: 0 30px;
}

.imp {
  &-conatiner {
    margin-top: 16px;
    width: 100%;
    font-size: 14px;
    font-size: 0;
  }
  &-right {
    .images-box,
    .editor-box {
      border-left: 0 !important;
    }
  }

  &-left,
  &-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 14px;
    h5 {
      margin: 0 auto;
      max-width: 200px;
      height: 30px;
      border-radius: 12px;
      background-color: #ccc;
      text-align: center;
      line-height: 28px;
    }
    .images-box {
      display: flex;
      margin-top: 10px;
      min-height: 100px;
      border: 1px solid #ccc;
      background-color: $base-white;

      align-items: center;
      justify-content: center;
    }
    .editor-box {
      display: flex;
      min-height: 200px;
      border: 1px solid #ccc;
      border-top: 0;
      background-color: $base-white;
      text-align: center;

      align-items: center;
      justify-content: center;
    }
  }
}
