<form>
    <div style="font-size: 18px; text-align: center; color: #ea0000; margin: 40px 40px 0px 40px">중복제안 등록은<br />윤리에 위반됩니다.</div>
    <div class="form-submit" style="margin-bottom: 20px">
        <button class="ui button blue2">확인</button>
        <button class="ui button blue2">취소</button>
    </div>
</form>

