<div class="modal-wrapper" id="S700203A030POP01_jqGrid_container0">
    <div class="modal-title">표준 검증요원 찾기</div>
    <div class="modal-contents">
        <div class="table-row">
            <table id="S700203A030POP01_jqGrid_view0" style="width: 500px; table-layout: fixed"></table>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        $("#S700203A030POP01_jqGrid_view0").jqGrid({
            datatype: "local", //json
            colModel: [
                {
                    label: "직번",
                    name: "col1",
                    sortable: false,
                    width: 100,
                    align: "center",
                },
                {
                    label: "성명",
                    name: "col2",
                    width: 80,
                    sortable: false,
                    align: "center",
                },
                {
                    label: "부서",
                    name: "col3",
                    width: 300,
                    sortable: false,
                    align: "left",
                },
            ],
            data: [
                {
                    col1: "123456",
                    col2: "홍길동",
                    col3: "(광양) 선강설비부 화성정비섹션",
                },
                {
                    col1: "123456",
                    col2: "홍길동",
                    col3: "(광양) 선강설비부 화성정비섹션",
                },
                {
                    col1: "123456",
                    col2: "홍길동",
                    col3: "(광양) 선강설비부 화성정비섹션",
                },
                {
                    col1: "123456",
                    col2: "홍길동",
                    col3: "(광양) 선강설비부 화성정비섹션",
                },
            ],
            viewrecords: true,
            height: "128px",
            width: 500,
            shrinkToFit: true,
            emptyrecords: "데이터가 없습니다",
        });
    }, 100);

    $(window)
        .bind("resize", function () {
            $("#S700203A030POP01_jqGrid_view0").setGridWidth($("#S700203A030POP01_jqGrid_container0").width(), true);
        })
        .trigger("resize");
</script>
