// 전사제안시스템 전체 컬러정의
$base: (
  'white': #fff,
  'black': #000,
);
$base-white: map-get($base, 'white');
$base-black: map-get($base, 'black');
$company: (
  'base': #888,
  'lighten-1': #aaa,
  'lighten-2': #afb1b7,
  'lighten-3': #dcdcdc,
  'lighten-4': #e4e4e4,
  'lighten-5': #ecedef,
  'lighten-6': #f5f5f5,
  'darken-1': #111,
  'darken-2': rgba(#333, .9),
  'darken-3': #1d1e20,
  'darken-4': #333,
  'darken-5': #666,
  //보라색 계열
  'purple-1':#515de5,
  'purple-2':#a671e5,
  'purple-3':#948def,
  //파랑계열
  'blue-1':#313bb3,
  //스카이블루
  'skyblue-1':#e6ebf1,

  //레드
  'red-1':#ea0000,
);
$company-base: map-get($company, 'base');
$company-lighten-1: map-get($company, 'lighten-1');
$company-lighten-2: map-get($company, 'lighten-2');
$company-lighten-3: map-get($company, 'lighten-3');
$company-lighten-4: map-get($company, 'lighten-4');
$company-lighten-5: map-get($company, 'lighten-5');
$company-lighten-6: map-get($company, 'lighten-6');
$company-darken-1: map-get($company, 'darken-1');
$company-darken-2: map-get($company, 'darken-2');
$company-darken-3: map-get($company, 'darken-3');
$company-darken-4: map-get($company, 'darken-4');
$company-darken-5: map-get($company, 'darken-5');
//보라색 계열
$company-purple-1: map-get($company, 'purple-1');
$company-purple-2: map-get($company, 'purple-2');
$company-purple-3: map-get($company, 'purple-3');
//파랑계열
$company-blue-1: map-get($company, 'blue-1');
$company-skyblue-1: map-get($company, 'skyblue-1');

//레드
$company-red-1: map-get($company, 'red-1');

.company-red-1 {
  color: $company-red-1;
}




