.control {
  width: 100%;

@include clear;

  &-column {
    label {
      height: 30px;
      color: #565656;
      font-size: 14px;
      line-height: 28px;
      + label {
        margin-left: 46px;
      }
    }
    &.item-right {
      float: right;

@include clear;

      button {
        margin: 0 2px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &.item-left {
      float: left;

@include clear;

      button {
        margin: 0 2px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
