input[type='text'],
input[type='password'],
input[type='search'],
button {
  outline: 0;
  border: 0;
}

.ui {
  &.form {
    width: inherit;
  }
  &.flex {
    display: flex;
    font-size: 14px;
    label {
      min-width: 20px !important;
      text-align: center;
    }
  }
}

.fields {
  .field {
    .flex {
      margin-bottom: 0;
    }
    .type + .text {
      margin: 0 2px;
      padding: 0;
      width: auto;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.text {
  display: inline-block;
  padding-left: 14px;
  width: 100%;
  text-align: left;
}

.form-submit {
  display: flex;
  margin: 30px 0 60px 0;

  justify-content: center;

  button {
    margin: 0 2px;
  }
}

.infor {
  display: flex;
  margin-top: 40px;
  color: #ea0000;
  font-size: 16px;

  justify-content: center;
  svg {
    margin-right: 8px;
  }
}

.information {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 460px;
  .infor {
    margin-top: 20px;

    justify-content: flex-start;

    [type='checkbox']:checked + label,
    [type='checkbox']:not(:checked) + label {
      color: #ea0000;
    }

    [type='checkbox']:checked + label:after,
    [type='checkbox']:not(:checked) + label:after {
      color: #ea0000;
    }
  }
}

textarea {
  padding: 10px;
  width: 100%;
  outline: 0;
  border-color: #ccc;
}


// CSS
.input-file-button {
  margin-left: 10px;
  min-width: 82px;
  height: 30px;
  border-radius: 4px;
  background-color: $company-blue-1;
  color: white;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

