
.ly-user-timeset {
  .ic-member {
    position: relative;
    top: -8px;
    display: inline-block;
    margin-left: 20px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #b28cea;
    vertical-align: top;
    text-align: center;
  }
}

.tabs-child {
  a {
    > i {
      position: relative;
      top: 16px;
      display: inline-block;
      margin-right: 26px;
      width: 25px;
      height: 25px;
      background-color: #e3e3e3;
      vertical-align: top;
    }
  }
}
.button {
  &.icon {
    &.blue {
      color: $company-blue-1;
    }
  }
}

.summary-info {
  svg {
    margin-right: 8px;
    color: #565656;
  }
}

