input {
  outline: 0;
  [type=text]::-ms-clear {
    display: none;
  }


  &.input,
  &.hasDatepicker {
    padding: 0 13px;
    width: 120px;
    height: 30px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 12px 3px rgba(243, 243, 248, 1);
    box-shadow: inset 0 1px 12px 3px rgba(243, 243, 248, 1);
    color: #666;
    font-size: 12px;
    &::placeholder {
      color: #ccc;
    }
  }
}
[type='radio']:disabled {
  + label {
    &:before {
      background-color: #e3e3e3!important;
    }
  }
}

label {
  &:checked {
    .input.checkbox {
      &:before {
        position: absolute;
        top: 1px;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #ddd;
        background: #fff;
        content: '';
      }
    }
  }
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  display: inline-block;
  color: #666;
  line-height: 16px;
  cursor: pointer;
}

[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  background: #fff;
  content: '';
}
[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  position: absolute;
  top: 2px;
  left: 8px;
  width: 12px;
  height: 12px;
  color: $company-blue-1;
  content: '\f00c';
  font-weight: 900;
  font-size: 12px;
  font-family: 'FontAwesome';
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  display: inline-block;
  color: #666;
  line-height: 28px;
  cursor: pointer;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  content: '';
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  position: absolute;
  top: 11px;
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: $company-blue-1;
  content: '';
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.input {
  &[disabled] {
    background-color: #e3e3e3!important;
    box-shadow: none;
  }
  &.checkbox {
    position: absolute;
    padding: 0;
    height: 16px;
    vertical-align: top;
    opacity: 0;
    pointer-events: none;
    + label {
      padding-left: 20px;
      min-width: 16px;
      min-height: 16px;
      text-align: left;
      &:after {
        position: absolute;
        left: 2px;
      }
    }
  }
}
.radio {
  position: relative;
  text-align: center;
  line-height: 22px;

  + .radio {
    margin-left: 0;
  }

  input {
    position: absolute;
    padding: 0;
    height: 22px;
    vertical-align: top;
    opacity: 0;
    pointer-events: none;
  }
  label {
    padding-left: 26px;
    min-width: 22px;
    min-height: 22px;
    text-align: left;
    &:after {
      position: absolute;
      left: 0;
      border-radius: 50%;
      content: '';
    }
  }
}
.select + .type {
  margin-left: 4px;
}
.type {
  position: relative;
  width: 100%;
  &.date {
    display: inline-block;
    min-width: 120px;
    vertical-align: top;
  }
  input.input,
  input.hasDatepicker {
    width: 100%;

    + svg {
      position: absolute;
      right: 10px;
      width: 14px;
      height: 100%;
      color: #585858;
    }
  }
}

.singleradio {
  position: relative;
  height: 22px;
  [type='radio']:checked + label::before,
  [type='radio']:not(:checked) + label::before {
    top: 0;
  }
  [type='radio']:checked + label::after,
  [type='radio']:not(:checked) + label::after {
    top: 8px;
  }
  label {
    width: 22px;
    height: 22px;
  }
}
// .checkbox {
//   label {
//     position: relative;
//     display: inline-block;
//     vertical-align: top;
//     white-space: nowrap;
//     text-indent: 4px;
//     cursor: pointer;
//     user-select: none;
//     &:after {
//       content: "";
//       position: absolute;
//       top: 3px;
//       left: 0;
//       z-index: 0;
//       width: 22px;
//       height: 22px;
//       background-color: #ffffff;
//       border: 1px solid #afb1b7;
//     }
//   }

//   &.radio {
//     &.checked {
//       label {
//         &:before {
//           content: "";
//           position: absolute;
//           top: 11px;
//           left: 8px;
//           z-index: 1;
//           width: 6px;
//           height: 6px;
//           background-color: $company-blue-1;
//           border-radius: 50%;
//         }
//       }
//     }
//   }
// }
