.modal {
  &-title {
    font-weight: bold;
    font-size: 20px;
  }
  &-contents {
    h5 {
      font-size: 14px;
      line-height: 1.4;
      & + .form {
        .search-box {
          margin-top: 20px;
        }
      }
    }
  }
  &-footer {
    display: flex;

    justify-content: center;
  }
}
