.renderer-wrp {
  display: flex;

  align-items: center;

  a {
    text-align: center;
    line-height: 28px;
  }
  &.center {
    justify-content: center;
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }
  .input {
    display: inline-block;
    + span {
      margin-right: 20px;
      margin-left: 4px;
      font-weight: bold;
      font-size: 12px;
    }
    + .button {
      display: inline-block;
      margin-left: 4px;
    }
  }
}

