$search: search;
.#{$search}-content {
  position: relative;
  display: flex;
  width: 100%;

  flex-wrap: wrap;
}
.modal {
  .#{$search}-box {
    > .rows {
      .column {
        &:first-child {
          .fields:only-child {
            .field {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
.#{$search}-box {
  display: flex;
  padding: 17px 26px 0 10px;
  width: 100%;
  border-radius: 5px;
  background-color: $company-skyblue-1;
  -webkit-box-shadow: 0 6px 12px 3px rgba(198, 200, 221, .88);
  box-shadow: 0 6px 12px 3px rgba(198, 200, 221, .88);

  flex-wrap: wrap;

  > .rows {
    position: relative;
    display: flex;
    width: 100%;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    .column {
      position: relative;
      display: inline-block;
      margin-left: 20px;

      flex: 0 1 auto;
      &.top {
        &:nth-child(2) {
          display: flex;

          align-items: baseline;
          flex: 0 1 auto;
        }
      }
      &:nth-child(2) {
        display: flex;

        align-items: center;
        flex: 0 1 auto;
      }
      &:first-child {
        flex: 0 1 auto;
      }
      &.depth-2 {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;

        flex: 1 1;

        label {
          min-width: 82px;
        }

        &:first-child {
          flex: 1 1;
        }
        .fields {
          display: flex;

          flex-wrap: wrap;
          .field {
            position: relative;
            display: inherit;
            width: 100%;

            flex: 1 1;
            label ~ .ui.input {
              flex: 1 1;
            }
          }
        }
      }
      .field + .field {
        margin-left: 46px;
      }

      .input {
        display: inline-block;
        vertical-align: top;

        + .button {
          margin-left: 4px;
        }
        + .radio {
          margin-left: 14px;
        }
      }

      label {
        display: inline-block;
        min-width: 40px;
        color: #565656;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
      }
      .fields {
        position: relative;
        font-size: 0;
      }
      .field {
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


