.summary {
  &-info {
    padding-right: 17px;
    font-size: 0;

    > dl {
      display: inline-block;
      margin-left: 38px;
      font-size: 0;
      &:first-child {
        margin-left: 0;
      }
      > dt,
      dd {
        display: inline-block;
        color: #565656;
        font-size: 15px;
      }
      > dt {
        margin-left: 12px;
      }
      > dd {
        margin-left: 28px;
      }
    }
  }
}


.ui.summary {
  > p {
    color: #ea0000;
  }
}
